* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}

.d-flex {
  display: flex;
}

.d-flex.flex-column {
  flex-direction: column;
}

div.container {
  padding: 20px 50px;
  margin: auto;
  max-width: 900px;
  background-color: #f3f3f3;
}

div.container h1 {
  text-align: center;
  font-family: monospace;
}

div.d-flex .form,
div.d-flex .list {
  display: flex;
  flex-direction: column;
}

div.d-flex .form h2,
div.d-flex .list h2 {
  text-align: center;
  margin-bottom: 25px;
  border-bottom: 1px solid black;
}

div.d-flex .form input {
  margin: 5px 0;
}

ul#repository-list li {
  display: flex;
  justify-content: space-between;
}

